* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Style for the Signup / Register Page begins here*/
.register {
  width: 50em;
  height: auto;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 4% 0%;
  font-family: "Josefin Sans", serif;
  font-style: normal;
}
.register h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 1.5rem;
}
.reservationform {
  border: 1px solid black;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
}
.input_register {
  display: block;
  margin-top: 1rem;
}
.input_register input {
  padding: 11px 20px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 12px;
  margin-right: 10px;
}
.input_register input::placeholder {
  color: rgba(42, 40, 40, 0.7);
  font-weight: bold;
  font-size: 1rem;
}
.input_register input[type="email"],
.input_register input[type="password"] {
  width: 425px;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}
.reservationform legend {
  font-size: 25px;
  color: #d16e43;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
.input_register button {
  background-color: #f0ad90;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 10px 70px;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.input_register button:hover {
  background-color: #d16e43;
  transition: background-color 0.4s ease-in-out;
}
.input_sign {
  margin-bottom: 1rem;
}
.input_sign span {
  color: #d16e43;
  font-size: 18px;
  margin-right: 0.5rem;
}
.input_sign a {
  color: #000000;
  background-color: #f0ad90;
  border: none;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.input_sign a:hover {
  background-color: #d16e43;
}

/*Style for the Mediam Range Devices begins here*/
@media only screen and (min-width: 800px) and (max-width: 1100px) {
  /*Style for the Signup / Register Page begins here*/
  .register {
    width: 40em;
    height: auto;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 5% 0%;
    font-family: "Josefin Sans", serif;
    font-style: normal;
  }
}

/*Css for small range device: mobile-view*/
@media only screen and (max-width: 800px) {
  .register {
    width: 90%;
    height: auto;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 4% 0%;
    font-family: "Josefin Sans", serif;
    font-style: normal;
  }
  .register h1 {
    font-size: 45px;
    margin: 1rem;
  }
}

/*Style for the Signup / Register Page begins here*/
@media only screen and (max-width: 500px) {
  .register {
    width: 95%;
    height: auto;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10% 0%;
    font-family: "Josefin Sans", serif;
    font-style: normal;
  }
  .register h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0.5rem;
    margin-top: 0rem;
  }
  .reservationform {
    border: 1px solid black;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
  }
  .input_register {
    display: block;
    margin-top: 1rem;
  }
  .input_register input {
    padding: 11px 15px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 12px;
    margin: 0% 5%;
    width: 125px;
  }
  @media only screen and (max-width: 361px) {
    .input_register input {
      padding: 11px 15px;
      background-color: #d9d9d9;
      border: none;
      border-radius: 12px;
      margin: 0% 1%;
      width: 142px;
    }
  }
  .input_register input::placeholder {
    color: rgba(42, 40, 40, 0.7);
    font-weight: bold;
  }
  .input_register input[type="email"],
  .input_register input[type="password"] {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .reservationform legend {
    font-size: 22px;
    color: #d16e43;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    word-spacing: 2px;
  }
  .input button {
    background-color: #f0ad90;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 10px 70px;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .input_register button:hover {
    background-color: #d16e43;
  }
  .input_sign {
    margin-bottom: 1rem;
  }
  .input_sign span {
    color: #d16e43;
    font-size: 16px;
    margin-right: 0rem;
  }
  .input_sign a {
    color: #000000;
    background-color: #f0ad90;
    border: none;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
  }
  .input_sign a:hover {
    background-color: #d16e43;
  }
}
